@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section {
  /* background-color: #f8f8f8; */
}

.section__headline {
  color: #5cc08c;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.newsItem__image {
}

.newsItem__logo {
  color: #5cc08c;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.newsItem__title {
  color: var(--dark);
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}
.newsItem__title--small {
  color: var(--dark);
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
.newsItem__title:hover, .newsItem__title--small:hover {
  color: #0056b3;
}
